@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-black;
    @apply text-white;
    scroll-behavior: smooth;
    user-select: none
  }

  h1 {
    @apply text-4xl;
    @apply font-bold;
  }

  ::selection {
    @apply bg-violet-500;
  }
}

::-webkit-scrollbar{
  display: none;
}

.animated-text-1 {
  background-image: linear-gradient(90deg, #007cf0, #00dfd8);
  background-clip: text;
  -webkit-background-clip: text;
  height: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: transparent;
  animation: animated-gradient-1 4s infinite;
}

.animated-text-2 {
  background-image: linear-gradient(90deg, #ff0080, #7928ca);
  background-clip: text;
  -webkit-background-clip: text;
  height: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: transparent;
  animation: animated-gradient-2 6s infinite;
}

.animated-text-3 {
  background-image: linear-gradient(90deg, #ff4d4d, #f9cb28);
  background-clip: text;
  -webkit-background-clip: text;
  height: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: transparent;
  animation: animated-gradient-3 8s infinite;
}


@keyframes animated-gradient-1 {

  50% {
    color: white;
  }
}

@keyframes animated-gradient-2 {

  50% {
    color: white;
  }
}

@keyframes animated-gradient-3 {

  50% {
    color: white;
  }
}

.animated-btn {
  animation: animated-btn 4s infinite ease;
}

@keyframes animated-btn {
  0% {
    box-shadow: #7928ca;
  }

  50% {
    box-shadow: none;
  }

  100% {
    box-shadow: #7928ca;
  }
}

.animate-text {
  position: relative;
  cursor: pointer;
  margin-bottom: 1rem;
}

.animate-text::after {
  content: "";
  position: absolute;
  bottom: -8px;
  height: 6px;
  border-radius: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: mediumpurple;
  left: 2rem;
  transition: all 0.3s ease-in-out;
  transform: scale(0);
}

.animate-text:hover::after {
  transform: scale(1);
}

.animate-ball {
  animation: ball 2s infinite;
}

@keyframes ball {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(1.2rem);
  }
}

.imgCarouselContainer {
  height: 100vh;
  overflow: hidden;
  cursor: default;
  user-select: none;
}

.imgCarousel {
  background-repeat: repeat;
  background-size: auto 100%;
  margin-top: 3rem;
  animation: slider 150s linear infinite;
  background-image: url("./static/Slide2.png");
}

@keyframes slider {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: -2420px 0;
  }
}

.imgCarousel {
  height: 90vh;
}

.clickBelow {
  background: none;
  color: grey;
  text-align: center;
}

.animate-box:hover {
  animation: box 1s alternate;
}

@keyframes box {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }

  25% {
    transform: translate(5px, 5px) rotate(5deg);
  }

  50% {
    transform: translate(0, 0) rotate(0deg);
  }

  75% {
    transform: translate(-5px, 5px) rotate(-5deg);
  }

  100% {
    transform: translate(0, 0) rotate(0deg);
  }
}